@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Play', sans-serif;
    background-image: url("../img/joker-preto-branco.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
}

#botoes {
    display: flex;
    align-items: center;
    margin-left: 372px;
    margin-top: 44px;

}

#botao-1 {
    transition: 0.4s ease;
}

#botao-2 {
    transition: 0.4s ease;
}

#botao-1:hover, #botao-2:hover {
    transform: scale(1.1);
 }

 #botao-1 a:hover {
    color: #A42B2B;
    border: 0px;
 }

#botao-1 a {
    color: #ffffff;
    border: solid 3px #A42B2B;
    transition: 0.4s ease;
    
}

#botao-2 a {
    color: #000000;
    background: linear-gradient(180deg, #9B9595 0%, rgba(255, 255, 255, 0) 100%);
    margin-left: 219px;
    font-weight: bold;
      
    
}

a {
    text-decoration: none;
    padding: 18px 97px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    position: relative;
    border-radius: 3px;

}




#social-media {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 250px;
    margin-left: 30px;
}

#social-media img {
    width: 24px;
    
}

#facebook {
    margin-top: 71px;
    margin-bottom: 71px;
}

#risada {
    position: absolute;
    left: 192px;
    top: 140px;
    z-index: -1;

}

#joker-logo {
    position: absolute;
    top: 280px;
    left: 219px;
    
}

h2 {
    background: -webkit-linear-gradient(bottom, #8A0000 0%, #B93434 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 612px;
    top: 550px;
    text-transform: uppercase;
    font-size: 38px;
    font-weight: bold;
}

p {
    color: #8B8B8B;
    position: absolute;
    right: 630px;
    top: 424px;
    transform: rotate(90deg);
    font-size: 24px;
    font-weight: bold;
}

#joker-images {
    display: flex;
    align-items: center;
    margin-left: 290px;
    margin-top: 200px;
}

#joker-images img {
    width: 250px;
    height: 123px;
}

.arrows {
    content: "";
    width: 2px;
    height: 22px;
    background-color: #A42B2B;
    
}

#Arrow-left {
    margin-right: 64px;
    transform: rotate(64deg);
    position: relative;
}

#Arrow-left::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background-color: #A42B2B;
    transform: rotate(50deg);
    top: 4px;
    bottom: 3px;
    left: 8px;
}

#Arrow-right {
    margin-left: 64px;
    transform: rotate(-64deg);
    position: relative;
}

#Arrow-right::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background-color: #A42B2B;
    transform: rotate(-50deg);
    top: 4px;
    bottom: 3px;
    right: 8px;
}

#joker {
    margin-left: 50px;
}

#markups {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 266px;
}

#markups img {
    width: 18px;
}

#dc {
    margin-left: 19px;
}


